/* tma1_style.css */

h1 {
    text-align: left;
    font-size: 36px;
    color: #373737;
} 
h2 {
    text-align: left;
    margin-left: 50px; 
    color: #C0B283;
} 
h3 {
    text-align: left;
    margin-left: 50px; 
    color: #C0B283;
} 
h4{
    text-align: left;
    margin-left: 50px; 
    color: #C0B283;
}

p{
    color: #373737;
    margin-left: 75px; 
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #373737; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; 
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #F4F4F4; /* White text color */
    font-size: 36px; /* Increased font size */
    text-decoration: none;
}

.icon-bar a:hover {
    background-color: #C0B283; /* Add a hover color */
}

.active {
    background-color: #DCD0C0; /* Add an active/current color */
}

.icon-3737image-group{
    float: right;
}

header{
    color: #373737;
    background-color: #F4F4F4;
}

body{
    color: #DCD0C0;
    background-color: #F4F4F4;
}